<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Log4Net updates -->
  <level value="INFO" xdt:Transform="SetAttributes" xdt:Locator="XPath(//log4net//root//level)" />
  <file value="D:\\WEBLOGS\\Level3.AddressManagement\\Level3.AddressManagement.UI.Web.log" xdt:Transform="SetAttributes" xdt:Locator="XPath(//log4net//appender[@name='RollingLogFileAppender']//file)" />
  <subject value="Level3.AddressManagement.UI.Web: Log Messages - Test Server" xdt:Transform="SetAttributes" xdt:Locator="XPath(//log4net//appender[@name='SmtpAppender']//subject)" />

  <!-- Connection Strings -->
  <connectionStrings>
    <add name="DS_USER" connectionString="Data Source=CILPD;User ID=DSL_FIN_PROD_RO; Password=DSL_FIN_PROD_RO;Enlist=false" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SQLSERVER" connectionString="Data Source=USIDCVSQLHR01; Initial Catalog=AddressManagement_DEV_StillToBeCreated; User Id=address_management_user; Password=@ddressM@n@gement123!" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="D:\\WEBLOGS\\Level3.AddressManagement\\log4net.txt"
            xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <appSettings>

    <!-- GLM Web Service Layer-->
    <add key="GLMBaseUrl" value="http://glmenv1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GLMAuthorizationHeaderUsername" value="SVC_SAP" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GLMAuthorizationHeaderApplicationID" value="3843" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- CDW Query Stuff -->
    <add key="MinimumFirstOrderCreateDateForCDWPull" value="04/01/2018" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- SAP Web Service Layer -->
    <add key="SAPBaseUrl" value="https://sapecq.corp.intranet" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!--log4net troubleshooting -->
    <add key="log4net.Internal.Debug" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
