<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>


  <oracle.manageddataaccess.client>
    <version number="*">
      <LDAPsettings>
        <LDAPsetting name="DIRECTORY_SERVERS" value="(oranamesrvr0-us.level3.com:389:636, oranamesrvr1-us.level3.com:389:636, oranamesrvr2-us.level3.com:389:636)" />
        <LDAPsetting name="DIRECTORY_SERVER_TYPE" value="oid" />
        <LDAPsetting name="DEFAULT_ADMIN_CONTEXT" value="dc=world" />
      </LDAPsettings>
      <settings>
        <setting name="NAMES.DIRECTORY_PATH" value="(LDAP)" />
      </settings>
      <!--<dataSources>
        <dataSource alias="DS_USER" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=F14-32)(PORT=1525))(CONNECT_DATA=(SID=EBDEV3BLAH))) "/>
      </dataSources>-->
    </version>
  </oracle.manageddataaccess.client>


  <log4net>

    <root>
      <!-- log level = DEBUG/INFO/WARN/ERROR/FATAL -->
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\\logs\\Level3.AddressManagement\\Level3.AddressManagement.Console.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="180" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{2} - %message%newline" />
      </layout>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="brendan.muir@level3.com" />
      <from value="brendan.muir@level3.com" />
      <subject value="Leve3.AddressManagement: Logging Messages:  Local Dev" />
      <smtpHost value="scanmail.level3.com" />
      <authentication value="Basic" />
      <EnableSsl value="false" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <!-- log level = DEBUG/INFO/WARN/ERROR/FATAL -->
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>

  </log4net>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="c:\\logs\\Level3.AddressManagement\\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>

  <appSettings>

    <!-- Multi-Threading; Concurrent record processing -->
    <add key="NumberOfThreads" value="9" />
    
    <!-- CDW Query Stuff -->
    <add key="MinimumFirstOrderCreateDateForCDWPull" value="04/01/2018" />

    <!-- GLM Web Service Layer-->
    <add key="GLMBaseUrl" value="http://glmenv1" />
    <add key="GLMAuthorizationHeaderUsername" value="SVC_SAP" />
    <add key="GLMAuthorizationHeaderApplicationID" value="3843" />

    <!-- CDW Query Stuff -->
    <add key="MinimumFirstOrderCreateDateForCDWPull" value="04/01/2018" />

    <!-- SAP Web Service Layer-->
    <add key="SAPBaseUrl" value="https://sapecq.corp.intranet" />

    <!--DEPRECATED-->
    <add key="RootWorkspaceDirectory" value="C:\temp\Level3.AddressManagement\_RootWorkspace" />

    <!--log4net troubleshooting -->
    <add key="log4net.Internal.Debug" value="true"/>

  </appSettings>

  <connectionStrings>
    <add name="DS_USER" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=CILPD;User ID=DSL_FIN_PROD_RO; Password=DSL_FIN_PROD_RO;Enlist=false" />
    <add name="SQLSERVER" connectionString="Data Source=USIDCVSQLHR01; Initial Catalog=AddressManagement_DEV_StillToBeCreated; User Id=address_management_user; Password=@ddressM@n@gement123!" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>